.herolanding-img {
  height: 100%;
  width: 100%;

  position: relative;
}

.herotext-landing {
  font-family: "MangoGrotesqueBlack", sans-serif;

  color: #fff;
  position: absolute;

  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;

  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hero-landing {
  position: relative;
}

/* Paragraph*/
.par-text-landing {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  text-align: center;

  color: #fff;
  position: absolute;

  position: absolute;
  top: 52%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 50%;
}

/*Button*/
.button-work {
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 15%;

  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 999px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}
