h3,
h4 {
  font-weight: 400;
}

.principal-container {
  display: flex;
  justify-content: space-around;
  background-color: #5534f5;
  background-image: url("../../../img/contacto-banner.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 150px 100px;

  margin-top: 10%;
}

.title-container {
  display: flex;
  color: #ffff;
  flex-direction: column;
  justify-content: flex-end;
}

.subtitle-form h3 {
  font-size: 14px;
}

h1 {
  margin-top: 5px;

  color: #ffffff;
  font-size: 800px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5%;

  text-transform: uppercase;
  font-family: "MangoGrotesqueBlack", sans-serif;
}

.interested {
  width: 100%;
}

.interested h4 {
  margin-bottom: 5px;
  color: #ffff;
}

button {
  background-color: transparent;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #ffff;
  color: #ffff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
}

.selected {
  background-color: #ffff;
  color: #000000;
}

.up-buttons {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}

.brand {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ffff;
  background-color: transparent;
  color: #ffff;
  padding: 30px 0 4px 0;
  font-size: 14px;
}

::placeholder {
  color: #ffff;
  padding-bottom: 0px;
  opacity: 70%;
  font-size: 14px;
}

.button-form button {
  width: 150px;
  margin: 50px 0 20px 0;
}

.error {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffff !important;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
