* {
  font-family: "Inter";
  overflow-x: hidden;
}

.General-Container-NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #000000;
}

.Nav-Bar {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Nav-Bar li {
  display: inline;
  text-decoration: none;
  margin-left: 20px;
}

.Nav-Bar a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.Nav-Bar a:first-child {
  margin-left: 0;
}

.General-Container-NavBar img {
  width: 80px;
  height: auto;
}

.Nav-Bar a.active {
  font-weight: bold;
}

.General-Container-NavBar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;
  margin-top: 2%;
}
.icono-menu {
  display: none;
}

@media (max-width: 768px) {
  .Nav-Bar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding-top: 100px; 
  }

  .icono-menu {
    display: flex;
    width: 15px;
    height: 15px;
  }

  .Nav-Bar {
    display: none;
  }

  .Nav-Bar.active ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: xx-large;
    align-items: flex-end;
    margin-right: 30px;
  }

  .Nav-Bar.active ul li {
    margin-bottom: 20px; 
  }


  .Nav-Bar.active ul li a {
    width: 100%;
    display: block;
  }
}
