.pink-box {
  background-color: #ffbddb;
  width: 80%;
  position: relative;
  border-radius: 20px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.pink-text-landing p {
  color: #ff4c9e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 38.5px */

  margin-bottom: 2%;
}

.pink-text-landing h1 {
  color: #ff4c9e;

  font-family: "MangoGrotesqueBlack", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 135px */
  text-transform: uppercase;

  margin: 10px 0%;
}

.pink-text-landing hr {
  border: 0.5px solid #ff4c9e;
  margin-bottom: 2%;
}

/*Yellow Section*/
.secondsection-img {
  height: 100%;
  width: 100%;
}

.third-section {
  margin-top: -40%;
}

.third-section-text {
  position: absolute;
  top: 170%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.third-section-text h4 {
  color: #0a0038;
  font-size: 15 px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;

  text-transform: uppercase;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.third-section-text h2 {
  color: #0a0038;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  width: 80%;

  text-transform: uppercase;
  font-family: "MangoGrotesqueBlack", sans-serif;
}

.third-section-text p {
  color: #0a0038;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 5%;
  width: 70%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*scroll Section*/
.scroll-container {
  display: flex;
  position: relative;
  z-index: 20;
  margin-top: 40px;
  gap: 20px;
  margin-left: 20%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-container img {
  z-index: 10;
  width: 100%;
  border-radius: 30px;
}

/*Last section*/
.last-section {
  padding: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 0%;
}

.last-section h4 {
  color: #0a0038;
  font-size: 15 px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;

  text-transform: uppercase;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.last-section p {
  color: #0a0038;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  width: 50%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
